body {
    .navbar {
        .circle:hover {
            background-color: rgb(207, 82, 20);
            border-radius: 30%;
        }
        .nav-link {
            width: 80px;
            height: 23px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            color: #2D2D2D;
        }
    }
    .black-box {
        background: #1C1C1C;
        border-radius: 16px;
        height: 925.89px;
        .white_click {
            position: absolute;
            margin-top: 160px;
            padding: 5px 10px 4px 5px;
            border-radius: 16px;
            background: #E8E8E8;
            font-style: normal;
            font-weight: 500;
            margin-left: 80px;
            .click {
                background: rgba(28, 28, 28, 1);
                color: #E8E8E8;
                border-radius: 16px;
            }
        }
    }
    .row {
        margin-top: 40px;
    }
    h2 {
        width: 619px;
        color: #FFFFFF;
        font-size: 64px;
        letter-spacing: -1px;
        margin-left: 80px;
        padding-top: 230px;
    }
    .color_text {
        background: linear-gradient(45deg, rgb(232, 94, 123), rgb(122, 102, 251));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        width: 619px;
        font-size: 20px;
        line-height: 160%;
        color: #FFFFFF;
        margin-top: 65px;
        margin-left: 80px;
    }
    .music {
        padding: 24px;
        width: 343.57px;
        background: #F9FAFB;
        border-radius: 12px;
        margin-left: 80px;
        margin-top: 65px;
    }
    .col-md-4 {
        margin-top: 65px;
        margin-bottom: 50px;
    }
    .episodes {
        h2 {
            color: #1C1C1C;
            margin-left: 8px;
        }
        .blocks {
            .text {
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 160%;
                    color: #667085;
                    margin-left: 4px;
                }
                h3 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: #101828;
                    margin-top: 32px;
                }
                .media {
                    margin-top: 32px;
                    h6 {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
    .mission {
        width: 1360px;
        background: #F1F1F1;
        border-radius: 16px;
        margin-top: 150px;
        & .row {
            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 70px;
                line-height: 140%;
                letter-spacing: -1.2px;
                color: #1C1C1C;
            }
            & .col-md-5 {
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 140%;
                    color: #1C1C1C;
                    width: 379px;
                }
            }
            & .col-md-7 {
                p {
                    width: 541px;
                    height: 266px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 160%;
                    letter-spacing: -0.3px;
                    color: #585757;
                }
                h4 {
                    margin-left: 82px;
                }
            }
        }
    }
    .down {
        height: 174px;
        background: #1C1C1C;
        border-radius: 16px;
        .names {
            margin-top: 60px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #E8E8E8;
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 60px 385px;
            gap: 10px;
        }
        .copy {
            text-align: center;
            color: #E8E8E8;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
}